:root {
    --Light: #2e2e2e;
    --Dark: #1f1f1f;
    --Accent: #f84545;
    --BorderRadius: 20px;
    --Border: solid 5px var(--Accent)
}

@font-face {
    font-family: pixel;
    src: url(HomeVideo-Regular.otf);
}


body {
    background-color: var(--Light);
    font-family: pixel;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}

h1 {
    color: var(--Accent);
    font-weight: 100;
    font-size: 50px;
}

p {
    font-family: pixel;
    color: white;
    margin-top: -10px;
}

button {
    width: 250px;
    height: 70px;
    border-radius: var(--BorderRadius);
    border: var(--Border);
    font-family: pixel;
    font-weight: 500;
    font-size: 30px;
    background-color: var(--Dark);
    color: white;
    transition: 250ms;
}

button:hover {
    background-color: var(--Accent);
    color: var(--Dark);
    cursor: pointer;
}

button:active{
    background-color: rgb(224, 224, 224);
    border: var(--Border) rgb(224, 224, 224);
    transition: 50ms;
}

#output {
    background-color: var(--Dark);
    border: var(--Border);
    border-radius: var(--BorderRadius);
    padding: 10px;
    color: white;
    width: 500px;
    height: 200px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.gear{
    position: fixed;
    filter: invert(17%);
    z-index: -1000;
}
#gear1 {
    width: 1500px;
    left: 800px;
    top: 0;
}

#gear2 {
    width: 700px;
    left: 50px;
    top: -300px;
}

#gear3{
    width: 500px;
    left: 20px;
    top: 500px;
}

.Section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#file_input {
    margin: 20px;
    background-color: var(--Dark);
    border: var(--Border);
    border-radius: var(--BorderRadius);
    width: 300px;
    height: 50px;
    color: white;
    padding: 10px;
    font-size: 20px;
}
::placeholder{
    color: gray;
}